body {
	
}

table {

 border-collapse: collapse;
}

td{
	padding:5px;font-style:oblique;font-size:25px;
}

th{
	background-color:pink;font-style:italic;font-size:31px;
}

h3{
	color:red;font-size:36px;
}
.green{
	background-color:yellow;
}

.black{
	background-color:black;
}
.totalteres{
background-color:#9c88ff;
}
